@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --background-main: #292929;
    --text-basic: #d5d5d5;
    --text-highlight: #88d658;
}

html, body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Nunito",Arial,Verdana,Helvetica,sans-serif;
    background-color: var(--background-main);
    color: var(--text-basic);
}

a {
    color: #88d658;
    text-decoration: none;
}

a:hover {
    color: #b6dd9e;
    text-decoration: underline;
}

hr {
    border-color: #777777;
}

/* NAVBAR */

.navbar {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: #777777;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    max-width: 60rem;
}

.navbar .homelink {
    display: flex;
    flex-grow: 1
}

.navbar .sidelink {
    padding: 0.5rem 1rem;
    color: #c5c5c5;
}

.navbar .sidelink:hover {
    background-color: #c5c5c510;
    border-radius: 0.5rem;
}

/* CONTENT */

.content {
    width: 100%;
    max-width: 60rem;
    flex-grow: 1;
}

.firstonly > * {
    visibility: collapse;
}

.firstonly > *:first-child {
    visibility: visible;
}

#pending {
    visibility: collapse;
}

h1 {
    text-align: center;
}

/* FOOTER */

.footer {
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    text-align: center;
    font-size: 1rem;
    color: #777777;
    background-color: #222222;
}

.footer a {
    color: #a7a7a7;
}

.footer a:hover {
    text-decoration: underline;
    color: #c5c5c5;
}

/**********/
/* TABLES */
/**********/

table.basic-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* Header */

table.basic-table thead tr:first-child {
    font-size: 1.125rem;
    background-color: #1c1c1c;
}

table.basic-table th:first-child {
    border-top-left-radius: 1rem;
}

table.basic-table th:last-child {
    border-top-right-radius: 1rem;
}

/* Items */

table.basic-table tr:nth-child(odd) {
    background-color: #3d3d3d;
}

table.basic-table tr:nth-child(even) {
    background-color: #303030;
}

table.basic-table tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}

table.basic-table tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}

table.basic-table td, table.basic-table th {
    padding: 0.375rem 1rem;
}
