#logo-container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1rem;
}

#logo-container img {
    width: 100%;
    object-fit: scale-down;
}

#overview-container {
    flex-grow: 1;
    padding: 1rem;
}

#overview-container td {
    flex-grow: 1;
    padding: 0.25rem 0.5rem;
}

#overview-container tr .overview-label {
    width: 50%;
    font-weight: bold;
    text-align: right;
}

#overview-container tr .overview-value {
    text-align: left;
}

#overview-container tr .overview-link {
    text-align: center;
}

table.basic-table tbody tr.spanning-odd {
    background-color: #3d3d3d;
}

table.basic-table tbody tr.spanning-even {
    background-color: #303030;
}

#awards-entries, #awards-entries a {
    color: #22d290;
}

#awards-entries tr.spanning-odd {
    background-color: #123d2d;
}

#awards-entries tr.spanning-even {
    background-color: #083022;
}

table.basic-table.ranking tbody tr:nth-child(1) {
    background-color: #4c3c18;
    color: #ddaa22;
}

table.basic-table.ranking tbody tr:nth-child(2) {
    background-color: #606870;
    color: #ddffff;
}

table.basic-table.ranking tbody tr:nth-child(3) {
    background-color: #4c3010;
    color: #dd8822;
}

table.basic-table.ranking tbody tr:nth-child(1) a {
    color: #ddaa22;
}

table.basic-table.ranking tbody tr:nth-child(2) a {
    color: #ddffff;
}

table.basic-table.ranking tbody tr:nth-child(3) a {
    color: #dd8822;
}

table.basic-table tbody .entry-label-column {
    font-weight: bold;
}

table.basic-table.ranking tbody .entry-label-column {
    width: 2rem;
    text-align: center;
}
